<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>animal_1_pos_1_film_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,697},{64,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,137}}</string>
                <key>sourceSize</key>
                <string>{64,137}</string>
            </dict>
            <key>animal_1_pos_1_film_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,558},{64,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,137}}</string>
                <key>sourceSize</key>
                <string>{64,137}</string>
            </dict>
            <key>animal_1_pos_1_film_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,419},{64,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,137}}</string>
                <key>sourceSize</key>
                <string>{64,137}</string>
            </dict>
            <key>animal_1_pos_2_film_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,687},{66,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,131}}</string>
                <key>sourceSize</key>
                <string>{66,131}</string>
            </dict>
            <key>animal_1_pos_2_film_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,820},{66,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,131}}</string>
                <key>sourceSize</key>
                <string>{66,131}</string>
            </dict>
            <key>animal_1_pos_2_film_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,687},{66,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,131}}</string>
                <key>sourceSize</key>
                <string>{66,131}</string>
            </dict>
            <key>animal_1_pos_3_film_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,264},{94,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,126}}</string>
                <key>sourceSize</key>
                <string>{94,126}</string>
            </dict>
            <key>animal_1_pos_3_film_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,392},{94,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,126}}</string>
                <key>sourceSize</key>
                <string>{94,126}</string>
            </dict>
            <key>animal_1_pos_3_film_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,264},{94,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,126}}</string>
                <key>sourceSize</key>
                <string>{94,126}</string>
            </dict>
            <key>animal_1_pos_4_film_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,553},{78,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,132}}</string>
                <key>sourceSize</key>
                <string>{78,132}</string>
            </dict>
            <key>animal_1_pos_4_film_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,419},{78,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,132}}</string>
                <key>sourceSize</key>
                <string>{78,132}</string>
            </dict>
            <key>animal_1_pos_4_film_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,836},{78,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,132}}</string>
                <key>sourceSize</key>
                <string>{78,132}</string>
            </dict>
            <key>animal_1_pos_5_film_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,133},{105,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,129}}</string>
                <key>sourceSize</key>
                <string>{105,129}</string>
            </dict>
            <key>animal_1_pos_5_film_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{105,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,129}}</string>
                <key>sourceSize</key>
                <string>{105,129}</string>
            </dict>
            <key>animal_1_pos_5_film_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,820},{105,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,129}}</string>
                <key>sourceSize</key>
                <string>{105,129}</string>
            </dict>
            <key>animal_1_pos_6_film_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{72,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,137}}</string>
                <key>sourceSize</key>
                <string>{72,137}</string>
            </dict>
            <key>animal_1_pos_6_film_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,141},{72,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,137}}</string>
                <key>sourceSize</key>
                <string>{72,137}</string>
            </dict>
            <key>animal_1_pos_6_film_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{72,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,137}}</string>
                <key>sourceSize</key>
                <string>{72,137}</string>
            </dict>
            <key>animal_2_pos_1_film_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,454},{81,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,110}}</string>
                <key>sourceSize</key>
                <string>{81,110}</string>
            </dict>
            <key>animal_2_pos_1_film_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,342},{81,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,110}}</string>
                <key>sourceSize</key>
                <string>{81,110}</string>
            </dict>
            <key>animal_2_pos_1_film_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,230},{81,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,110}}</string>
                <key>sourceSize</key>
                <string>{81,110}</string>
            </dict>
            <key>animal_2_pos_2_film_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,224},{83,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,109}}</string>
                <key>sourceSize</key>
                <string>{83,109}</string>
            </dict>
            <key>animal_2_pos_2_film_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,113},{83,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,109}}</string>
                <key>sourceSize</key>
                <string>{83,109}</string>
            </dict>
            <key>animal_2_pos_2_film_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,2},{83,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,109}}</string>
                <key>sourceSize</key>
                <string>{83,109}</string>
            </dict>
            <key>animal_2_pos_3_film_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,647},{104,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,125}}</string>
                <key>sourceSize</key>
                <string>{104,125}</string>
            </dict>
            <key>animal_2_pos_3_film_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,392},{104,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,125}}</string>
                <key>sourceSize</key>
                <string>{104,125}</string>
            </dict>
            <key>animal_2_pos_3_film_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,520},{104,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,125}}</string>
                <key>sourceSize</key>
                <string>{104,125}</string>
            </dict>
            <key>animal_2_pos_4_film_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,111},{92,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,107}}</string>
                <key>sourceSize</key>
                <string>{92,107}</string>
            </dict>
            <key>animal_2_pos_4_film_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,2},{92,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,107}}</string>
                <key>sourceSize</key>
                <string>{92,107}</string>
            </dict>
            <key>animal_2_pos_4_film_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,222},{92,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,107}}</string>
                <key>sourceSize</key>
                <string>{92,107}</string>
            </dict>
            <key>animal_2_pos_5_film_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,116},{84,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,112}}</string>
                <key>sourceSize</key>
                <string>{84,112}</string>
            </dict>
            <key>animal_2_pos_5_film_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,2},{84,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,112}}</string>
                <key>sourceSize</key>
                <string>{84,112}</string>
            </dict>
            <key>animal_2_pos_5_film_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,634},{84,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,112}}</string>
                <key>sourceSize</key>
                <string>{84,112}</string>
            </dict>
            <key>animal_2_pos_6_film_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,889},{113,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,108}}</string>
                <key>sourceSize</key>
                <string>{113,108}</string>
            </dict>
            <key>animal_2_pos_6_film_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,774},{113,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,108}}</string>
                <key>sourceSize</key>
                <string>{113,108}</string>
            </dict>
            <key>animal_2_pos_6_film_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,519},{113,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,108}}</string>
                <key>sourceSize</key>
                <string>{113,108}</string>
            </dict>
            <key>animal_3_pos_1_film_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,92},{86,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,88}}</string>
                <key>sourceSize</key>
                <string>{86,88}</string>
            </dict>
            <key>animal_3_pos_1_film_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,2},{86,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,88}}</string>
                <key>sourceSize</key>
                <string>{86,88}</string>
            </dict>
            <key>animal_3_pos_1_film_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,220},{86,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,88}}</string>
                <key>sourceSize</key>
                <string>{86,88}</string>
            </dict>
            <key>animal_3_pos_2_film_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,112},{108,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,84}}</string>
                <key>sourceSize</key>
                <string>{108,84}</string>
            </dict>
            <key>animal_3_pos_2_film_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{108,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,84}}</string>
                <key>sourceSize</key>
                <string>{108,84}</string>
            </dict>
            <key>animal_3_pos_2_film_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,222},{108,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,84}}</string>
                <key>sourceSize</key>
                <string>{108,84}</string>
            </dict>
            <key>animal_3_pos_3_film_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,331},{97,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,84}}</string>
                <key>sourceSize</key>
                <string>{97,84}</string>
            </dict>
            <key>animal_3_pos_3_film_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,430},{97,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,84}}</string>
                <key>sourceSize</key>
                <string>{97,84}</string>
            </dict>
            <key>animal_3_pos_3_film_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,544},{97,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,84}}</string>
                <key>sourceSize</key>
                <string>{97,84}</string>
            </dict>
            <key>animal_3_pos_4_film_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,672},{97,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,84}}</string>
                <key>sourceSize</key>
                <string>{97,84}</string>
            </dict>
            <key>animal_3_pos_4_film_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,331},{97,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,84}}</string>
                <key>sourceSize</key>
                <string>{97,84}</string>
            </dict>
            <key>animal_3_pos_4_film_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,445},{97,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,84}}</string>
                <key>sourceSize</key>
                <string>{97,84}</string>
            </dict>
            <key>animal_3_pos_5_film_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,566},{104,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,91}}</string>
                <key>sourceSize</key>
                <string>{104,91}</string>
            </dict>
            <key>animal_3_pos_5_film_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,854},{104,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,91}}</string>
                <key>sourceSize</key>
                <string>{104,91}</string>
            </dict>
            <key>animal_3_pos_5_film_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,748},{104,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,91}}</string>
                <key>sourceSize</key>
                <string>{104,91}</string>
            </dict>
            <key>animal_3_pos_6_film_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,112},{108,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,92}}</string>
                <key>sourceSize</key>
                <string>{108,92}</string>
            </dict>
            <key>animal_3_pos_6_film_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{108,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,92}}</string>
                <key>sourceSize</key>
                <string>{108,92}</string>
            </dict>
            <key>animal_3_pos_6_film_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,335},{108,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,92}}</string>
                <key>sourceSize</key>
                <string>{108,92}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>animalsAnimation-ipad.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:712f4cea3b0f76a9a0085d5470da66ca$</string>
            <key>textureFileName</key>
            <string>animalsAnimation-ipad.png</string>
        </dict>
    </dict>
</plist>
