<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>animal_1_pos_1_film_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{60,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,128}}</string>
                <key>sourceSize</key>
                <string>{60,128}</string>
            </dict>
            <key>animal_1_pos_1_film_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{60,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,128}}</string>
                <key>sourceSize</key>
                <string>{60,128}</string>
            </dict>
            <key>animal_1_pos_1_film_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,128}}</string>
                <key>sourceSize</key>
                <string>{60,128}</string>
            </dict>
            <key>animal_1_pos_2_film_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,767},{61,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,121}}</string>
                <key>sourceSize</key>
                <string>{61,121}</string>
            </dict>
            <key>animal_1_pos_2_film_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{61,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,121}}</string>
                <key>sourceSize</key>
                <string>{61,121}</string>
            </dict>
            <key>animal_1_pos_2_film_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,521},{61,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,121}}</string>
                <key>sourceSize</key>
                <string>{61,121}</string>
            </dict>
            <key>animal_1_pos_3_film_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,763},{88,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,118}}</string>
                <key>sourceSize</key>
                <string>{88,118}</string>
            </dict>
            <key>animal_1_pos_3_film_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,643},{88,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,118}}</string>
                <key>sourceSize</key>
                <string>{88,118}</string>
            </dict>
            <key>animal_1_pos_3_film_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,254},{88,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,118}}</string>
                <key>sourceSize</key>
                <string>{88,118}</string>
            </dict>
            <key>animal_1_pos_4_film_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,128},{73,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,124}}</string>
                <key>sourceSize</key>
                <string>{73,124}</string>
            </dict>
            <key>animal_1_pos_4_film_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,2},{73,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,124}}</string>
                <key>sourceSize</key>
                <string>{73,124}</string>
            </dict>
            <key>animal_1_pos_4_film_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,260},{73,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,124}}</string>
                <key>sourceSize</key>
                <string>{73,124}</string>
            </dict>
            <key>animal_1_pos_5_film_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,386},{98,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,120}}</string>
                <key>sourceSize</key>
                <string>{98,120}</string>
            </dict>
            <key>animal_1_pos_5_film_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,521},{98,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,120}}</string>
                <key>sourceSize</key>
                <string>{98,120}</string>
            </dict>
            <key>animal_1_pos_5_film_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,890},{98,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,120}}</string>
                <key>sourceSize</key>
                <string>{98,120}</string>
            </dict>
            <key>animal_1_pos_6_film_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,131},{67,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,127}}</string>
                <key>sourceSize</key>
                <string>{67,127}</string>
            </dict>
            <key>animal_1_pos_6_film_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{67,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,127}}</string>
                <key>sourceSize</key>
                <string>{67,127}</string>
            </dict>
            <key>animal_1_pos_6_film_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{67,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,127}}</string>
                <key>sourceSize</key>
                <string>{67,127}</string>
            </dict>
            <key>animal_2_pos_1_film_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,616},{76,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,103}}</string>
                <key>sourceSize</key>
                <string>{76,103}</string>
            </dict>
            <key>animal_2_pos_1_film_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,107},{76,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,103}}</string>
                <key>sourceSize</key>
                <string>{76,103}</string>
            </dict>
            <key>animal_2_pos_1_film_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,2},{76,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,103}}</string>
                <key>sourceSize</key>
                <string>{76,103}</string>
            </dict>
            <key>animal_2_pos_2_film_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,212},{78,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,102}}</string>
                <key>sourceSize</key>
                <string>{78,102}</string>
            </dict>
            <key>animal_2_pos_2_film_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,323},{78,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,102}}</string>
                <key>sourceSize</key>
                <string>{78,102}</string>
            </dict>
            <key>animal_2_pos_2_film_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,482},{78,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,102}}</string>
                <key>sourceSize</key>
                <string>{78,102}</string>
            </dict>
            <key>animal_2_pos_3_film_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,762},{97,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,117}}</string>
                <key>sourceSize</key>
                <string>{97,117}</string>
            </dict>
            <key>animal_2_pos_3_film_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,643},{97,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,117}}</string>
                <key>sourceSize</key>
                <string>{97,117}</string>
            </dict>
            <key>animal_2_pos_3_film_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,883},{97,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,117}}</string>
                <key>sourceSize</key>
                <string>{97,117}</string>
            </dict>
            <key>animal_2_pos_4_film_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,104},{86,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,100}}</string>
                <key>sourceSize</key>
                <string>{86,100}</string>
            </dict>
            <key>animal_2_pos_4_film_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,2},{86,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,100}}</string>
                <key>sourceSize</key>
                <string>{86,100}</string>
            </dict>
            <key>animal_2_pos_4_film_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,530},{86,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,100}}</string>
                <key>sourceSize</key>
                <string>{86,100}</string>
            </dict>
            <key>animal_2_pos_5_film_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,216},{79,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,105}}</string>
                <key>sourceSize</key>
                <string>{79,105}</string>
            </dict>
            <key>animal_2_pos_5_film_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,109},{79,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,105}}</string>
                <key>sourceSize</key>
                <string>{79,105}</string>
            </dict>
            <key>animal_2_pos_5_film_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{79,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,105}}</string>
                <key>sourceSize</key>
                <string>{79,105}</string>
            </dict>
            <key>animal_2_pos_6_film_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,881},{106,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,101}}</string>
                <key>sourceSize</key>
                <string>{106,101}</string>
            </dict>
            <key>animal_2_pos_6_film_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,374},{106,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,101}}</string>
                <key>sourceSize</key>
                <string>{106,101}</string>
            </dict>
            <key>animal_2_pos_6_film_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,508},{106,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,101}}</string>
                <key>sourceSize</key>
                <string>{106,101}</string>
            </dict>
            <key>animal_3_pos_1_film_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,180},{81,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,83}}</string>
                <key>sourceSize</key>
                <string>{81,83}</string>
            </dict>
            <key>animal_3_pos_1_film_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,2},{81,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,83}}</string>
                <key>sourceSize</key>
                <string>{81,83}</string>
            </dict>
            <key>animal_3_pos_1_film_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,95},{81,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,83}}</string>
                <key>sourceSize</key>
                <string>{81,83}</string>
            </dict>
            <key>animal_3_pos_2_film_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,689},{101,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,79}}</string>
                <key>sourceSize</key>
                <string>{101,79}</string>
            </dict>
            <key>animal_3_pos_2_film_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,824},{101,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,79}}</string>
                <key>sourceSize</key>
                <string>{101,79}</string>
            </dict>
            <key>animal_3_pos_2_film_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,316},{101,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,79}}</string>
                <key>sourceSize</key>
                <string>{101,79}</string>
            </dict>
            <key>animal_3_pos_3_film_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,2},{91,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,79}}</string>
                <key>sourceSize</key>
                <string>{91,79}</string>
            </dict>
            <key>animal_3_pos_3_film_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,281},{91,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,79}}</string>
                <key>sourceSize</key>
                <string>{91,79}</string>
            </dict>
            <key>animal_3_pos_3_film_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,188},{91,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,79}}</string>
                <key>sourceSize</key>
                <string>{91,79}</string>
            </dict>
            <key>animal_3_pos_4_film_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,95},{91,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,79}}</string>
                <key>sourceSize</key>
                <string>{91,79}</string>
            </dict>
            <key>animal_3_pos_4_film_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,2},{91,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,79}}</string>
                <key>sourceSize</key>
                <string>{91,79}</string>
            </dict>
            <key>animal_3_pos_4_film_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,927},{91,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,79}}</string>
                <key>sourceSize</key>
                <string>{91,79}</string>
            </dict>
            <key>animal_3_pos_5_film_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,406},{98,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,86}}</string>
                <key>sourceSize</key>
                <string>{98,86}</string>
            </dict>
            <key>animal_3_pos_5_film_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,306},{98,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,86}}</string>
                <key>sourceSize</key>
                <string>{98,86}</string>
            </dict>
            <key>animal_3_pos_5_film_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,206},{98,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,86}}</string>
                <key>sourceSize</key>
                <string>{98,86}</string>
            </dict>
            <key>animal_3_pos_6_film_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,427},{101,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,86}}</string>
                <key>sourceSize</key>
                <string>{101,86}</string>
            </dict>
            <key>animal_3_pos_6_film_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,586},{101,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,86}}</string>
                <key>sourceSize</key>
                <string>{101,86}</string>
            </dict>
            <key>animal_3_pos_6_film_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,721},{101,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,86}}</string>
                <key>sourceSize</key>
                <string>{101,86}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>animalsAnimation-hd.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ad4eccfdf4645759e590664e901f567c$</string>
            <key>textureFileName</key>
            <string>animalsAnimation-hd.png</string>
        </dict>
    </dict>
</plist>
