<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2mountains1bush.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3590},{2046,349}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2046,349}}</string>
                <key>sourceSize</key>
                <string>{2046,349}</string>
            </dict>
            <key>Scenebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{2048,1536}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2048,1536}}</string>
                <key>sourceSize</key>
                <string>{2048,1536}</string>
            </dict>
            <key>blueBushes.png</key>
            <dict>
                <key>frame</key>
                <string>{{2052,2},{2010,352}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2010,352}}</string>
                <key>sourceSize</key>
                <string>{2014,352}</string>
            </dict>
            <key>downPart.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,1540},{2046,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2046,305}}</string>
                <key>sourceSize</key>
                <string>{2046,305}</string>
            </dict>
            <key>ground.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1540},{2048,815}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2048,815}}</string>
                <key>sourceSize</key>
                <string>{2048,815}</string>
            </dict>
            <key>rightMountain.png</key>
            <dict>
                <key>frame</key>
                <string>{{2052,356},{171,341}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,341}}</string>
                <key>sourceSize</key>
                <string>{171,341}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene_2_pics-ipadhd.png</string>
            <key>size</key>
            <string>{4096,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e6a1534c67f8fed2a45f654cee6fa05e$</string>
            <key>textureFileName</key>
            <string>scene_2_pics-ipadhd.png</string>
        </dict>
    </dict>
</plist>
