<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2greenBushes.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,1540},{2046,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2046,340}}</string>
                <key>sourceSize</key>
                <string>{2046,340}</string>
            </dict>
            <key>Scenebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{2048,1536}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2048,1536}}</string>
                <key>sourceSize</key>
                <string>{2048,1536}</string>
            </dict>
            <key>downBushes.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,1540},{2048,318}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2048,318}}</string>
                <key>sourceSize</key>
                <string>{2048,318}</string>
            </dict>
            <key>downMountains.png</key>
            <dict>
                <key>frame</key>
                <string>{{2052,2},{1182,273}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1182,273}}</string>
                <key>sourceSize</key>
                <string>{1182,273}</string>
            </dict>
            <key>ground.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1540},{2048,634}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{2048,634}}</string>
                <key>sourceSize</key>
                <string>{2048,636}</string>
            </dict>
            <key>mountainandWTF.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,1540},{2048,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2048,214}}</string>
                <key>sourceSize</key>
                <string>{2048,214}</string>
            </dict>
            <key>trees.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,1540},{2048,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2048,116}}</string>
                <key>sourceSize</key>
                <string>{2048,116}</string>
            </dict>
            <key>woodWTF.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3590},{2047,456}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2047,456}}</string>
                <key>sourceSize</key>
                <string>{2047,456}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene_3_pics-ipadhd.png</string>
            <key>size</key>
            <string>{4096,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:98550733764c2d2cd80007e2626c2706$</string>
            <key>textureFileName</key>
            <string>scene_3_pics-ipadhd.png</string>
        </dict>
    </dict>
</plist>
