<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bunnyAnimation1.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,652},{128,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{128,159}}</string>
                <key>sourceSize</key>
                <string>{130,163}</string>
            </dict>
            <key>bunnyAnimation2.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,522},{128,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{128,159}}</string>
                <key>sourceSize</key>
                <string>{130,163}</string>
            </dict>
            <key>bunnyAnimation3.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,522},{128,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{128,159}}</string>
                <key>sourceSize</key>
                <string>{130,163}</string>
            </dict>
            <key>bunnyAnimation4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,844},{128,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{128,159}}</string>
                <key>sourceSize</key>
                <string>{130,163}</string>
            </dict>
            <key>bunnyAnimation5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,683},{128,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{128,159}}</string>
                <key>sourceSize</key>
                <string>{130,163}</string>
            </dict>
            <key>bunnyAnimation6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,522},{128,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{128,159}}</string>
                <key>sourceSize</key>
                <string>{130,163}</string>
            </dict>
            <key>owlAnimation1.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,392},{128,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{128,159}}</string>
                <key>sourceSize</key>
                <string>{130,163}</string>
            </dict>
            <key>owlAnimation2.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,392},{128,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{128,159}}</string>
                <key>sourceSize</key>
                <string>{130,163}</string>
            </dict>
            <key>owlAnimation3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{128,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{128,159}}</string>
                <key>sourceSize</key>
                <string>{130,163}</string>
            </dict>
            <key>squirrelAnimation1.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,262},{128,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{128,159}}</string>
                <key>sourceSize</key>
                <string>{130,163}</string>
            </dict>
            <key>squirrelAnimation2.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,262},{128,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{128,159}}</string>
                <key>sourceSize</key>
                <string>{130,163}</string>
            </dict>
            <key>squirrelAnimation3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{128,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{128,159}}</string>
                <key>sourceSize</key>
                <string>{130,163}</string>
            </dict>
            <key>squirrelAnimation4.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,132},{128,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{128,159}}</string>
                <key>sourceSize</key>
                <string>{130,163}</string>
            </dict>
            <key>squirrelAnimation5.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,132},{128,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{128,159}}</string>
                <key>sourceSize</key>
                <string>{130,163}</string>
            </dict>
            <key>squirrelAnimation6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{128,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{128,159}}</string>
                <key>sourceSize</key>
                <string>{130,163}</string>
            </dict>
            <key>squirrelAnimation7.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{128,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{128,159}}</string>
                <key>sourceSize</key>
                <string>{130,163}</string>
            </dict>
            <key>squirrelAnimation8.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,2},{128,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{128,159}}</string>
                <key>sourceSize</key>
                <string>{130,163}</string>
            </dict>
            <key>squirrelAnimation9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{128,159}}</string>
                <key>sourceSize</key>
                <string>{130,163}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buttonsAnimations.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5aa985e00d4fe6d6bb5c4d6c82ad5f97$</string>
            <key>textureFileName</key>
            <string>buttonsAnimations.png</string>
        </dict>
    </dict>
</plist>
