<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>owlAnimation1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1202,1436},{476,598}}</string>
			<key>offset</key>
			<string>{2,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{20,25},{476,598}}</string>
			<key>sourceSize</key>
			<string>{512,644}</string>
		</dict>
		<key>owlAnimation2.png</key>
		<dict>
			<key>frame</key>
			<string>{{602,1436},{476,598}}</string>
			<key>offset</key>
			<string>{2,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{20,25},{476,598}}</string>
			<key>sourceSize</key>
			<string>{512,644}</string>
		</dict>
		<key>owlAnimation3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1436},{476,598}}</string>
			<key>offset</key>
			<string>{2,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{20,25},{476,598}}</string>
			<key>sourceSize</key>
			<string>{512,644}</string>
		</dict>
		<key>bunnyAnimation1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,3592},{476,598}}</string>
			<key>offset</key>
			<string>{2,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{20,25},{476,598}}</string>
			<key>sourceSize</key>
			<string>{512,644}</string>
		</dict>
		<key>bunnyAnimation2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2992},{476,598}}</string>
			<key>offset</key>
			<string>{2,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,25},{476,598}}</string>
			<key>sourceSize</key>
			<string>{512,644}</string>
		</dict>
		<key>bunnyAnimation3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2392},{476,598}}</string>
			<key>offset</key>
			<string>{2,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,25},{476,598}}</string>
			<key>sourceSize</key>
			<string>{512,644}</string>
		</dict>
		<key>bunnyAnimation4.png</key>
		<dict>
			<key>frame</key>
			<string>{{1202,1914},{476,598}}</string>
			<key>offset</key>
			<string>{2,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{20,25},{476,598}}</string>
			<key>sourceSize</key>
			<string>{512,644}</string>
		</dict>
		<key>bunnyAnimation5.png</key>
		<dict>
			<key>frame</key>
			<string>{{602,1914},{476,598}}</string>
			<key>offset</key>
			<string>{2,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{20,25},{476,598}}</string>
			<key>sourceSize</key>
			<string>{512,644}</string>
		</dict>
		<key>bunnyAnimation6.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1914},{476,598}}</string>
			<key>offset</key>
			<string>{2,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{20,25},{476,598}}</string>
			<key>sourceSize</key>
			<string>{512,644}</string>
		</dict>
		<key>squirrelAnimation1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1202,958},{476,598}}</string>
			<key>offset</key>
			<string>{2,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{20,25},{476,598}}</string>
			<key>sourceSize</key>
			<string>{512,644}</string>
		</dict>
		<key>squirrelAnimation2.png</key>
		<dict>
			<key>frame</key>
			<string>{{602,958},{476,598}}</string>
			<key>offset</key>
			<string>{2,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{20,25},{476,598}}</string>
			<key>sourceSize</key>
			<string>{512,644}</string>
		</dict>
		<key>squirrelAnimation3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,958},{476,598}}</string>
			<key>offset</key>
			<string>{2,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{20,25},{476,598}}</string>
			<key>sourceSize</key>
			<string>{512,644}</string>
		</dict>
		<key>squirrelAnimation4.png</key>
		<dict>
			<key>frame</key>
			<string>{{1202,480},{476,598}}</string>
			<key>offset</key>
			<string>{2,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{20,25},{476,598}}</string>
			<key>sourceSize</key>
			<string>{512,644}</string>
		</dict>
		<key>squirrelAnimation5.png</key>
		<dict>
			<key>frame</key>
			<string>{{602,480},{476,598}}</string>
			<key>offset</key>
			<string>{2,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{20,25},{476,598}}</string>
			<key>sourceSize</key>
			<string>{512,644}</string>
		</dict>
		<key>squirrelAnimation6.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,480},{476,598}}</string>
			<key>offset</key>
			<string>{2,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{20,25},{476,598}}</string>
			<key>sourceSize</key>
			<string>{512,644}</string>
		</dict>
		<key>squirrelAnimation7.png</key>
		<dict>
			<key>frame</key>
			<string>{{1202,2},{476,598}}</string>
			<key>offset</key>
			<string>{2,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{20,25},{476,598}}</string>
			<key>sourceSize</key>
			<string>{512,644}</string>
		</dict>
		<key>squirrelAnimation8.png</key>
		<dict>
			<key>frame</key>
			<string>{{602,2},{476,598}}</string>
			<key>offset</key>
			<string>{2,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{20,25},{476,598}}</string>
			<key>sourceSize</key>
			<string>{512,644}</string>
		</dict>
		<key>squirrelAnimation9.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{476,598}}</string>
			<key>offset</key>
			<string>{2,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{20,25},{476,598}}</string>
			<key>sourceSize</key>
			<string>{512,644}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>buttonsAnimations-ipadhd.png</string>
		<key>size</key>
		<string>{2048,4096}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:f521fffb49c2a35afd4378a46d74763e$</string>
		<key>textureFileName</key>
		<string>buttonsAnimations-ipadhd.png</string>
	</dict>
</dict>
</plist>
