<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bunny/1/animal_1_pos_1_film_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,548},{127,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,271}}</string>
                <key>sourceSize</key>
                <string>{127,271}</string>
            </dict>
            <key>bunny/1/animal_1_pos_1_film_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,275},{127,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,271}}</string>
                <key>sourceSize</key>
                <string>{127,271}</string>
            </dict>
            <key>bunny/1/animal_1_pos_1_film_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{127,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,271}}</string>
                <key>sourceSize</key>
                <string>{127,271}</string>
            </dict>
            <key>bunny/2/animal_1_pos_2_film_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1358},{133,263}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,263}}</string>
                <key>sourceSize</key>
                <string>{133,263}</string>
            </dict>
            <key>bunny/2/animal_1_pos_2_film_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1093},{133,263}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,263}}</string>
                <key>sourceSize</key>
                <string>{133,263}</string>
            </dict>
            <key>bunny/2/animal_1_pos_2_film_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,546},{133,263}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,263}}</string>
                <key>sourceSize</key>
                <string>{133,263}</string>
            </dict>
            <key>bunny/3/animal_1_pos_3_film_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,798},{187,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,250}}</string>
                <key>sourceSize</key>
                <string>{187,250}</string>
            </dict>
            <key>bunny/3/animal_1_pos_3_film_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,1069},{187,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,250}}</string>
                <key>sourceSize</key>
                <string>{187,250}</string>
            </dict>
            <key>bunny/3/animal_1_pos_3_film_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,546},{187,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,250}}</string>
                <key>sourceSize</key>
                <string>{187,250}</string>
            </dict>
            <key>bunny/4/animal_1_pos_4_film_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,1093},{156,261}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,261}}</string>
                <key>sourceSize</key>
                <string>{156,263}</string>
            </dict>
            <key>bunny/4/animal_1_pos_4_film_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1886},{156,261}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,261}}</string>
                <key>sourceSize</key>
                <string>{156,263}</string>
            </dict>
            <key>bunny/4/animal_1_pos_4_film_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1623},{156,261}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,261}}</string>
                <key>sourceSize</key>
                <string>{156,263}</string>
            </dict>
            <key>bunny/5/animal_1_pos_5_film_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,811},{210,256}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,256}}</string>
                <key>sourceSize</key>
                <string>{210,258}</string>
            </dict>
            <key>bunny/5/animal_1_pos_5_film_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1614},{210,256}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,256}}</string>
                <key>sourceSize</key>
                <string>{210,258}</string>
            </dict>
            <key>bunny/5/animal_1_pos_5_film_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,1356},{210,256}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,256}}</string>
                <key>sourceSize</key>
                <string>{210,258}</string>
            </dict>
            <key>bunny/6/animal_1_pos_6_film_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,274},{144,270}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,270}}</string>
                <key>sourceSize</key>
                <string>{144,274}</string>
            </dict>
            <key>bunny/6/animal_1_pos_6_film_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,2},{144,270}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,270}}</string>
                <key>sourceSize</key>
                <string>{144,274}</string>
            </dict>
            <key>bunny/6/animal_1_pos_6_film_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,821},{144,270}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,270}}</string>
                <key>sourceSize</key>
                <string>{144,274}</string>
            </dict>
            <key>owl/1/animal_2_pos_1_film_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,444},{162,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,219}}</string>
                <key>sourceSize</key>
                <string>{162,219}</string>
            </dict>
            <key>owl/1/animal_2_pos_1_film_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,223},{162,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,219}}</string>
                <key>sourceSize</key>
                <string>{162,219}</string>
            </dict>
            <key>owl/1/animal_2_pos_1_film_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{162,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,219}}</string>
                <key>sourceSize</key>
                <string>{162,219}</string>
            </dict>
            <key>owl/2/animal_2_pos_2_film_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,1049},{163,217}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,217}}</string>
                <key>sourceSize</key>
                <string>{165,217}</string>
            </dict>
            <key>owl/2/animal_2_pos_2_film_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,884},{163,217}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,217}}</string>
                <key>sourceSize</key>
                <string>{165,217}</string>
            </dict>
            <key>owl/2/animal_2_pos_2_film_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,665},{163,217}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,217}}</string>
                <key>sourceSize</key>
                <string>{165,217}</string>
            </dict>
            <key>owl/3/animal_2_pos_3_film_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,1568},{200,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{200,245}}</string>
                <key>sourceSize</key>
                <string>{208,249}</string>
            </dict>
            <key>owl/3/animal_2_pos_3_film_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,1050},{200,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{200,245}}</string>
                <key>sourceSize</key>
                <string>{208,249}</string>
            </dict>
            <key>owl/3/animal_2_pos_3_film_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,1321},{200,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{200,245}}</string>
                <key>sourceSize</key>
                <string>{208,249}</string>
            </dict>
            <key>owl/4/animal_2_pos_4_film_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,1259},{180,213}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{180,213}}</string>
                <key>sourceSize</key>
                <string>{184,213}</string>
            </dict>
            <key>owl/4/animal_2_pos_4_film_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,1044},{180,213}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{180,213}}</string>
                <key>sourceSize</key>
                <string>{184,213}</string>
            </dict>
            <key>owl/4/animal_2_pos_4_film_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,653},{180,213}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{180,213}}</string>
                <key>sourceSize</key>
                <string>{184,213}</string>
            </dict>
            <key>owl/5/animal_2_pos_5_film_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,226},{167,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,222}}</string>
                <key>sourceSize</key>
                <string>{167,222}</string>
            </dict>
            <key>owl/5/animal_2_pos_5_film_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,2},{167,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,222}}</string>
                <key>sourceSize</key>
                <string>{167,222}</string>
            </dict>
            <key>owl/5/animal_2_pos_5_film_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,1749},{167,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,222}}</string>
                <key>sourceSize</key>
                <string>{167,222}</string>
            </dict>
            <key>owl/6/animal_2_pos_6_film_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,1523},{224,214}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{224,214}}</string>
                <key>sourceSize</key>
                <string>{226,216}</string>
            </dict>
            <key>owl/6/animal_2_pos_6_film_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,1297},{224,214}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{224,214}}</string>
                <key>sourceSize</key>
                <string>{226,216}</string>
            </dict>
            <key>owl/6/animal_2_pos_6_film_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,1815},{224,214}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{224,214}}</string>
                <key>sourceSize</key>
                <string>{226,216}</string>
            </dict>
            <key>squirrel/1/animal_3_pos_1_film_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,198},{172,174}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{172,174}}</string>
                <key>sourceSize</key>
                <string>{172,176}</string>
            </dict>
            <key>squirrel/1/animal_3_pos_1_film_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,868},{172,174}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{172,174}}</string>
                <key>sourceSize</key>
                <string>{172,176}</string>
            </dict>
            <key>squirrel/1/animal_3_pos_1_film_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,1872},{172,174}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{172,174}}</string>
                <key>sourceSize</key>
                <string>{172,176}</string>
            </dict>
            <key>squirrel/2/animal_3_pos_2_film_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,1704},{216,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,168}}</string>
                <key>sourceSize</key>
                <string>{216,168}</string>
            </dict>
            <key>squirrel/2/animal_3_pos_2_film_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,1486},{216,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,168}}</string>
                <key>sourceSize</key>
                <string>{216,168}</string>
            </dict>
            <key>squirrel/2/animal_3_pos_2_film_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,1268},{216,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,168}}</string>
                <key>sourceSize</key>
                <string>{216,168}</string>
            </dict>
            <key>squirrel/3/animal_3_pos_3_film_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,405},{194,165}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,165}}</string>
                <key>sourceSize</key>
                <string>{194,167}</string>
            </dict>
            <key>squirrel/3/animal_3_pos_3_film_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,601},{194,165}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,165}}</string>
                <key>sourceSize</key>
                <string>{194,167}</string>
            </dict>
            <key>squirrel/3/animal_3_pos_3_film_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,2},{194,165}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,165}}</string>
                <key>sourceSize</key>
                <string>{194,167}</string>
            </dict>
            <key>squirrel/4/animal_3_pos_4_film_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,209},{194,165}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,165}}</string>
                <key>sourceSize</key>
                <string>{194,167}</string>
            </dict>
            <key>squirrel/4/animal_3_pos_4_film_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,405},{194,165}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,165}}</string>
                <key>sourceSize</key>
                <string>{194,167}</string>
            </dict>
            <key>squirrel/4/animal_3_pos_4_film_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,209},{194,165}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,165}}</string>
                <key>sourceSize</key>
                <string>{194,167}</string>
            </dict>
            <key>squirrel/5/animal_3_pos_5_film_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,2},{205,183}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,183}}</string>
                <key>sourceSize</key>
                <string>{209,183}</string>
            </dict>
            <key>squirrel/5/animal_3_pos_5_film_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,1681},{205,183}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,183}}</string>
                <key>sourceSize</key>
                <string>{209,183}</string>
            </dict>
            <key>squirrel/5/animal_3_pos_5_film_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,1474},{205,183}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,183}}</string>
                <key>sourceSize</key>
                <string>{209,183}</string>
            </dict>
            <key>squirrel/6/animal_3_pos_6_film_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,436},{215,184}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,184}}</string>
                <key>sourceSize</key>
                <string>{217,184}</string>
            </dict>
            <key>squirrel/6/animal_3_pos_6_film_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,219},{215,184}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,184}}</string>
                <key>sourceSize</key>
                <string>{217,184}</string>
            </dict>
            <key>squirrel/6/animal_3_pos_6_film_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,2},{215,184}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,184}}</string>
                <key>sourceSize</key>
                <string>{217,184}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>animalsAnimation-ipadhd.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:de501396c6d3bb08f73b413a2faaec5d$</string>
            <key>textureFileName</key>
            <string>animalsAnimation-ipadhd.png</string>
        </dict>
    </dict>
</plist>
