<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scene_3_bush_1_</key>
	<dict>
		<key>delay</key>
		<real>0.15</real>
		<key>animationFrames</key>
		<string>1,2,3,4,5,6,5,4,3,2</string>
	</dict>
	<key>scene_3_bush_2_</key>
	<dict>
		<key>delay</key>
		<real>0.13</real>
		<key>animationFrames</key>
		<string>1,2,3,4,5,6,5,4,3,2</string>
	</dict>
	<key>scene_3_bush_3_</key>
	<dict>
		<key>delay</key>
		<real>0.12</real>
		<key>animationFrames</key>
		<string>1,2,3,4,5,6,5,4,3,2</string>
	</dict>
	<key>scene_3_bush_4_</key>
	<dict>
		<key>delay</key>
		<real>0.11</real>
		<key>animationFrames</key>
		<string>1,2,3,4,5,6,5,4,3,2</string>
	</dict>
	<key>scene_3_bush_5_</key>
	<dict>
		<key>delay</key>
		<real>0.14</real>
		<key>animationFrames</key>
		<string>1,2,3,4,5,6,5,4,3,2</string>
	</dict>
	<key>scene_3_bush_6_</key>
	<dict>
		<key>delay</key>
		<real>0.1</real>
		<key>animationFrames</key>
		<string>1,2,3,4,5,6,5,4,3,2</string>
	</dict>
	<key>scene_1_bush_1_</key>
	<dict>
		<key>delay</key>
		<real>0.15</real>
		<key>animationFrames</key>
		<string>1,2,3,4,5,6,5,4,3,2</string>
	</dict>
	<key>scene_1_bush_2_</key>
	<dict>
		<key>delay</key>
		<real>0.1</real>
		<key>animationFrames</key>
		<string>1,2,3,4,5,6,5,4,3,2</string>
	</dict>
	<key>scene_2_bush_1_</key>
	<dict>
		<key>delay</key>
		<real>0.1</real>
		<key>animationFrames</key>
		<string>1,2,3,4,5,6,5,4,3,2</string>
	</dict>
	<key>scene_2_bush_2_</key>
	<dict>
		<key>delay</key>
		<real>0.1</real>
		<key>animationFrames</key>
		<string>1,2,3,4,5,6,5,4,3,2</string>
	</dict>
	<key>scene_2_bush_3_</key>
	<dict>
		<key>delay</key>
		<real>0.1</real>
		<key>animationFrames</key>
		<string>1,2,3,4,5,6,5,4,3,2</string>
	</dict>
	<key>scene_2_bush_4_</key>
	<dict>
		<key>delay</key>
		<real>0.1</real>
		<key>animationFrames</key>
		<string>1,2,3,4,5,6,5,4,3,2</string>
	</dict>
	<key>scene_2_bush_5_</key>
	<dict>
		<key>delay</key>
		<real>0.1</real>
		<key>animationFrames</key>
		<string>1,2,3,4,5,6,5,4,3,2</string>
	</dict>
	<key>scene_2_bush_6_</key>
	<dict>
		<key>delay</key>
		<real>0.1</real>
		<key>animationFrames</key>
		<string>1,2,3,4,5,6,5,4,3,2</string>
	</dict>
	<key>scene_2_bush_7_</key>
	<dict>
		<key>delay</key>
		<real>0.1</real>
		<key>animationFrames</key>
		<string>1,2,3,4,5,6,5,4,3,2</string>
	</dict>
	<key>scene_2_bush_8_</key>
	<dict>
		<key>delay</key>
		<real>0.1</real>
		<key>animationFrames</key>
		<string>1,2,3,4,5,6,5,4,3,2</string>
	</dict>
</dict>
</plist>
