<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1024,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,768}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>islandMaya.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1028},{480,418}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,418}}</string>
                <key>sourceSize</key>
                <string>{480,418}</string>
            </dict>
            <key>islandUSSR.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,1510},{454,404}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{454,404}}</string>
                <key>sourceSize</key>
                <string>{454,404}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,2},{737,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{737,181}}</string>
                <key>sourceSize</key>
                <string>{737,181}</string>
            </dict>
            <key>playBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,476},{45,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,43}}</string>
                <key>sourceSize</key>
                <string>{45,43}</string>
            </dict>
            <key>playBtnOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,521},{45,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,42}}</string>
                <key>sourceSize</key>
                <string>{45,42}</string>
            </dict>
            <key>stone1.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,2},{67,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,129}}</string>
                <key>sourceSize</key>
                <string>{67,129}</string>
            </dict>
            <key>stone2.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,741},{83,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,159}}</string>
                <key>sourceSize</key>
                <string>{83,159}</string>
            </dict>
            <key>stone3.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,133},{75,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,67}}</string>
                <key>sourceSize</key>
                <string>{75,67}</string>
            </dict>
            <key>stone4.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,383},{48,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,91}}</string>
                <key>sourceSize</key>
                <string>{48,91}</string>
            </dict>
            <key>stone5.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,332},{54,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,49}}</string>
                <key>sourceSize</key>
                <string>{54,49}</string>
            </dict>
            <key>stones.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1510},{322,467}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,467}}</string>
                <key>sourceSize</key>
                <string>{322,467}</string>
            </dict>
            <key>teleport.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,210},{120,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,65}}</string>
                <key>sourceSize</key>
                <string>{120,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mainMenu.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:99971de24732721e763b5fdf0fa21873$</string>
            <key>textureFileName</key>
            <string>mainMenu.png</string>
        </dict>
    </dict>
</plist>
