<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrowBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,188},{24,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>arrowBtnOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,162},{24,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>homeBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,146},{48,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{48,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>homeBtnOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,98},{48,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{48,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>menuBox.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{158,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,200}}</string>
                <key>sourceSize</key>
                <string>{158,200}</string>
            </dict>
            <key>pauseBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,162},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>pauseBtnOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>restartBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,242},{46,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{46,47}}</string>
                <key>sourceSize</key>
                <string>{48,49}</string>
            </dict>
            <key>restartBtnOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,194},{46,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{46,47}}</string>
                <key>sourceSize</key>
                <string>{48,49}</string>
            </dict>
            <key>selectAnimalBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,50},{48,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{48,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>selectAnimalBtnOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{48,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{48,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>soundOffBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,218},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{46,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>soundOnBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{46,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>tutorialBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,210},{46,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{46,47}}</string>
                <key>sourceSize</key>
                <string>{48,49}</string>
            </dict>
            <key>tutorialBtnOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,162},{46,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{46,47}}</string>
                <key>sourceSize</key>
                <string>{48,49}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pauseMenu.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:85532e66bf286bc47b1a833b662db22b$</string>
            <key>textureFileName</key>
            <string>pauseMenu.png</string>
        </dict>
    </dict>
</plist>
