<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene_2_bush_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{93,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{93,76}}</string>
                <key>sourceSize</key>
                <string>{101,84}</string>
            </dict>
            <key>scene_2_bush_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,114},{92,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{92,76}}</string>
                <key>sourceSize</key>
                <string>{106,84}</string>
            </dict>
            <key>scene_2_bush_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,62},{92,74}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{92,74}}</string>
                <key>sourceSize</key>
                <string>{110,84}</string>
            </dict>
            <key>scene_2_bush_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{91,72}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{91,72}}</string>
                <key>sourceSize</key>
                <string>{107,84}</string>
            </dict>
            <key>scene_2_bush_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,62},{92,74}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{92,74}}</string>
                <key>sourceSize</key>
                <string>{110,84}</string>
            </dict>
            <key>scene_2_bush_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,114},{92,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{92,76}}</string>
                <key>sourceSize</key>
                <string>{106,84}</string>
            </dict>
            <key>scene_2_bush_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,202},{48,53}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{48,53}}</string>
                <key>sourceSize</key>
                <string>{60,59}</string>
            </dict>
            <key>scene_2_bush_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,249},{51,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{51,53}}</string>
                <key>sourceSize</key>
                <string>{63,59}</string>
            </dict>
            <key>scene_2_bush_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,313},{50,51}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{50,51}}</string>
                <key>sourceSize</key>
                <string>{64,59}</string>
            </dict>
            <key>scene_2_bush_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,257},{49,49}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{49,49}}</string>
                <key>sourceSize</key>
                <string>{63,59}</string>
            </dict>
            <key>scene_2_bush_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,313},{50,51}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{50,51}}</string>
                <key>sourceSize</key>
                <string>{64,59}</string>
            </dict>
            <key>scene_2_bush_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,249},{51,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{51,53}}</string>
                <key>sourceSize</key>
                <string>{63,59}</string>
            </dict>
            <key>scene_2_bush_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{51,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{51,49}}</string>
                <key>sourceSize</key>
                <string>{57,51}</string>
            </dict>
            <key>scene_2_bush_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,280},{52,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{52,48}}</string>
                <key>sourceSize</key>
                <string>{58,50}</string>
            </dict>
            <key>scene_2_bush_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,250},{51,47}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{51,47}}</string>
                <key>sourceSize</key>
                <string>{57,51}</string>
            </dict>
            <key>scene_2_bush_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,252},{53,46}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{53,46}}</string>
                <key>sourceSize</key>
                <string>{55,50}</string>
            </dict>
            <key>scene_2_bush_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,250},{51,47}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{51,47}}</string>
                <key>sourceSize</key>
                <string>{57,51}</string>
            </dict>
            <key>scene_2_bush_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,280},{52,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{52,48}}</string>
                <key>sourceSize</key>
                <string>{58,50}</string>
            </dict>
            <key>scene_2_bush_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,179},{71,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{71,47}}</string>
                <key>sourceSize</key>
                <string>{73,51}</string>
            </dict>
            <key>scene_2_bush_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,263},{70,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{70,48}}</string>
                <key>sourceSize</key>
                <string>{76,50}</string>
            </dict>
            <key>scene_2_bush_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,202},{70,46}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{70,46}}</string>
                <key>sourceSize</key>
                <string>{78,50}</string>
            </dict>
            <key>scene_2_bush_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,233},{71,45}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{71,45}}</string>
                <key>sourceSize</key>
                <string>{75,51}</string>
            </dict>
            <key>scene_2_bush_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,202},{70,46}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{70,46}}</string>
                <key>sourceSize</key>
                <string>{78,50}</string>
            </dict>
            <key>scene_2_bush_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,263},{70,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{70,48}}</string>
                <key>sourceSize</key>
                <string>{76,50}</string>
            </dict>
            <key>scene_2_bush_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,138},{83,63}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{83,63}}</string>
                <key>sourceSize</key>
                <string>{89,67}</string>
            </dict>
            <key>scene_2_bush_5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{82,61}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{82,61}}</string>
                <key>sourceSize</key>
                <string>{92,67}</string>
            </dict>
            <key>scene_2_bush_5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,141},{85,59}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{85,59}}</string>
                <key>sourceSize</key>
                <string>{89,67}</string>
            </dict>
            <key>scene_2_bush_5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,118},{84,59}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{84,59}}</string>
                <key>sourceSize</key>
                <string>{90,67}</string>
            </dict>
            <key>scene_2_bush_5_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,141},{85,59}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{85,59}}</string>
                <key>sourceSize</key>
                <string>{89,67}</string>
            </dict>
            <key>scene_2_bush_5_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{82,61}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{82,61}}</string>
                <key>sourceSize</key>
                <string>{92,67}</string>
            </dict>
            <key>scene_2_bush_6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{103,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{103,58}}</string>
                <key>sourceSize</key>
                <string>{109,76}</string>
            </dict>
            <key>scene_2_bush_6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{102,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{102,58}}</string>
                <key>sourceSize</key>
                <string>{114,76}</string>
            </dict>
            <key>scene_2_bush_6_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,2},{102,56}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,11},{102,56}}</string>
                <key>sourceSize</key>
                <string>{114,76}</string>
            </dict>
            <key>scene_2_bush_6_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,54}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,13},{104,54}}</string>
                <key>sourceSize</key>
                <string>{110,76}</string>
            </dict>
            <key>scene_2_bush_6_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,2},{102,56}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,11},{102,56}}</string>
                <key>sourceSize</key>
                <string>{114,76}</string>
            </dict>
            <key>scene_2_bush_6_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{102,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{102,58}}</string>
                <key>sourceSize</key>
                <string>{114,76}</string>
            </dict>
            <key>scene_2_bush_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,203},{78,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{78,58}}</string>
                <key>sourceSize</key>
                <string>{88,76}</string>
            </dict>
            <key>scene_2_bush_7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,255},{78,57}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{78,57}}</string>
                <key>sourceSize</key>
                <string>{86,75}</string>
            </dict>
            <key>scene_2_bush_7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,192},{78,55}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,12},{78,55}}</string>
                <key>sourceSize</key>
                <string>{86,75}</string>
            </dict>
            <key>scene_2_bush_7_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,179},{79,52}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,15},{79,52}}</string>
                <key>sourceSize</key>
                <string>{87,76}</string>
            </dict>
            <key>scene_2_bush_7_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,192},{78,55}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,12},{78,55}}</string>
                <key>sourceSize</key>
                <string>{86,75}</string>
            </dict>
            <key>scene_2_bush_7_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,255},{78,57}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{78,57}}</string>
                <key>sourceSize</key>
                <string>{86,75}</string>
            </dict>
            <key>scene_2_bush_8_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,80},{95,59}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{95,59}}</string>
                <key>sourceSize</key>
                <string>{99,67}</string>
            </dict>
            <key>scene_2_bush_8_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,60},{95,56}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{95,56}}</string>
                <key>sourceSize</key>
                <string>{103,68}</string>
            </dict>
            <key>scene_2_bush_8_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,57},{96,55}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{96,55}}</string>
                <key>sourceSize</key>
                <string>{100,67}</string>
            </dict>
            <key>scene_2_bush_8_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,2},{97,53}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{97,53}}</string>
                <key>sourceSize</key>
                <string>{101,67}</string>
            </dict>
            <key>scene_2_bush_8_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,57},{96,55}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{96,55}}</string>
                <key>sourceSize</key>
                <string>{100,67}</string>
            </dict>
            <key>scene_2_bush_8_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,60},{95,56}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{95,56}}</string>
                <key>sourceSize</key>
                <string>{103,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene_2_bushes.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f94ef3d36b8f8b61f19f80dbeecdafff$</string>
            <key>textureFileName</key>
            <string>scene_2_bushes.png</string>
        </dict>
    </dict>
</plist>
