<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene_1_bush_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,120},{209,120}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,17},{209,120}}</string>
                <key>sourceSize</key>
                <string>{235,146}</string>
            </dict>
            <key>scene_1_bush_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{210,117}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,19},{210,117}}</string>
                <key>sourceSize</key>
                <string>{230,145}</string>
            </dict>
            <key>scene_1_bush_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{210,116}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,21},{210,116}}</string>
                <key>sourceSize</key>
                <string>{238,146}</string>
            </dict>
            <key>scene_1_bush_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,121},{209,114}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,23},{209,114}}</string>
                <key>sourceSize</key>
                <string>{245,146}</string>
            </dict>
            <key>scene_1_bush_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{210,116}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,21},{210,116}}</string>
                <key>sourceSize</key>
                <string>{238,146}</string>
            </dict>
            <key>scene_1_bush_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{210,117}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,19},{210,117}}</string>
                <key>sourceSize</key>
                <string>{230,145}</string>
            </dict>
            <key>scene_1_bush_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,398},{191,156}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,16},{191,156}}</string>
                <key>sourceSize</key>
                <string>{207,182}</string>
            </dict>
            <key>scene_1_bush_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,393},{192,154}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,18},{192,154}}</string>
                <key>sourceSize</key>
                <string>{212,182}</string>
            </dict>
            <key>scene_1_bush_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,237},{193,154}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,18},{193,154}}</string>
                <key>sourceSize</key>
                <string>{209,182}</string>
            </dict>
            <key>scene_1_bush_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,242},{192,154}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,18},{192,154}}</string>
                <key>sourceSize</key>
                <string>{220,182}</string>
            </dict>
            <key>scene_1_bush_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,237},{193,154}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,18},{193,154}}</string>
                <key>sourceSize</key>
                <string>{209,182}</string>
            </dict>
            <key>scene_1_bush_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,393},{192,154}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,18},{192,154}}</string>
                <key>sourceSize</key>
                <string>{212,182}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene_1_bushes-ipad.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:978b825dc786cc953c4511f7cc8e2a91$</string>
            <key>textureFileName</key>
            <string>scene_1_bushes-ipad.png</string>
        </dict>
    </dict>
</plist>
