<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene_2_bush_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,116},{179,148}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{179,148}}</string>
                <key>sourceSize</key>
                <string>{203,168}</string>
            </dict>
            <key>scene_2_bush_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,111},{178,146}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,12},{178,146}}</string>
                <key>sourceSize</key>
                <string>{212,168}</string>
            </dict>
            <key>scene_2_bush_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,210},{177,144}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,14},{177,144}}</string>
                <key>sourceSize</key>
                <string>{221,168}</string>
            </dict>
            <key>scene_2_bush_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,219},{179,140}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,18},{179,140}}</string>
                <key>sourceSize</key>
                <string>{215,168}</string>
            </dict>
            <key>scene_2_bush_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,210},{177,144}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,14},{177,144}}</string>
                <key>sourceSize</key>
                <string>{221,168}</string>
            </dict>
            <key>scene_2_bush_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,111},{178,146}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,12},{178,146}}</string>
                <key>sourceSize</key>
                <string>{212,168}</string>
            </dict>
            <key>scene_2_bush_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,447},{94,99}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,9},{94,99}}</string>
                <key>sourceSize</key>
                <string>{120,117}</string>
            </dict>
            <key>scene_2_bush_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,467},{93,98}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,11},{93,98}}</string>
                <key>sourceSize</key>
                <string>{127,118}</string>
            </dict>
            <key>scene_2_bush_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,472},{95,96}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,13},{95,96}}</string>
                <key>sourceSize</key>
                <string>{129,118}</string>
            </dict>
            <key>scene_2_bush_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,480},{94,92}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,17},{94,92}}</string>
                <key>sourceSize</key>
                <string>{126,118}</string>
            </dict>
            <key>scene_2_bush_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,472},{95,96}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,13},{95,96}}</string>
                <key>sourceSize</key>
                <string>{129,118}</string>
            </dict>
            <key>scene_2_bush_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,467},{93,98}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,11},{93,98}}</string>
                <key>sourceSize</key>
                <string>{127,118}</string>
            </dict>
            <key>scene_2_bush_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,491},{98,89}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{98,89}}</string>
                <key>sourceSize</key>
                <string>{114,101}</string>
            </dict>
            <key>scene_2_bush_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,472},{97,89}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{97,89}}</string>
                <key>sourceSize</key>
                <string>{117,101}</string>
            </dict>
            <key>scene_2_bush_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,581},{98,87}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{98,87}}</string>
                <key>sourceSize</key>
                <string>{114,101}</string>
            </dict>
            <key>scene_2_bush_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,381},{97,85}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,11},{97,85}}</string>
                <key>sourceSize</key>
                <string>{111,101}</string>
            </dict>
            <key>scene_2_bush_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,581},{98,87}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{98,87}}</string>
                <key>sourceSize</key>
                <string>{114,101}</string>
            </dict>
            <key>scene_2_bush_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,472},{97,89}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{97,89}}</string>
                <key>sourceSize</key>
                <string>{117,101}</string>
            </dict>
            <key>scene_2_bush_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,354},{136,91}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{136,91}}</string>
                <key>sourceSize</key>
                <string>{146,101}</string>
            </dict>
            <key>scene_2_bush_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,381},{135,89}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{135,89}}</string>
                <key>sourceSize</key>
                <string>{153,101}</string>
            </dict>
            <key>scene_2_bush_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,446},{135,87}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,9},{135,87}}</string>
                <key>sourceSize</key>
                <string>{157,101}</string>
            </dict>
            <key>scene_2_bush_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,216},{136,85}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,11},{136,85}}</string>
                <key>sourceSize</key>
                <string>{150,101}</string>
            </dict>
            <key>scene_2_bush_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,446},{135,87}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,9},{135,87}}</string>
                <key>sourceSize</key>
                <string>{157,101}</string>
            </dict>
            <key>scene_2_bush_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,381},{135,89}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{135,89}}</string>
                <key>sourceSize</key>
                <string>{153,101}</string>
            </dict>
            <key>scene_2_bush_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,259},{161,120}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{161,120}}</string>
                <key>sourceSize</key>
                <string>{179,134}</string>
            </dict>
            <key>scene_2_bush_5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,361},{162,118}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{162,118}}</string>
                <key>sourceSize</key>
                <string>{184,134}</string>
            </dict>
            <key>scene_2_bush_5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,266},{163,116}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{163,116}}</string>
                <key>sourceSize</key>
                <string>{179,134}</string>
            </dict>
            <key>scene_2_bush_5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,216},{162,112}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,14},{162,112}}</string>
                <key>sourceSize</key>
                <string>{180,134}</string>
            </dict>
            <key>scene_2_bush_5_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,266},{163,116}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{163,116}}</string>
                <key>sourceSize</key>
                <string>{179,134}</string>
            </dict>
            <key>scene_2_bush_5_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,361},{162,118}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{162,118}}</string>
                <key>sourceSize</key>
                <string>{184,134}</string>
            </dict>
            <key>scene_2_bush_6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{199,112}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,20},{199,112}}</string>
                <key>sourceSize</key>
                <string>{219,152}</string>
            </dict>
            <key>scene_2_bush_6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,109}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,22},{200,109}}</string>
                <key>sourceSize</key>
                <string>{228,151}</string>
            </dict>
            <key>scene_2_bush_6_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,2},{198,107}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,24},{198,107}}</string>
                <key>sourceSize</key>
                <string>{228,151}</string>
            </dict>
            <key>scene_2_bush_6_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,113},{199,104}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,28},{199,104}}</string>
                <key>sourceSize</key>
                <string>{221,152}</string>
            </dict>
            <key>scene_2_bush_6_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,2},{198,107}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,24},{198,107}}</string>
                <key>sourceSize</key>
                <string>{228,151}</string>
            </dict>
            <key>scene_2_bush_6_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,109}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,22},{200,109}}</string>
                <key>sourceSize</key>
                <string>{228,151}</string>
            </dict>
            <key>scene_2_bush_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,330},{151,114}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,19},{151,114}}</string>
                <key>sourceSize</key>
                <string>{177,152}</string>
            </dict>
            <key>scene_2_bush_7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,356},{151,109}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,23},{151,109}}</string>
                <key>sourceSize</key>
                <string>{173,151}</string>
            </dict>
            <key>scene_2_bush_7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,384},{151,105}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,27},{151,105}}</string>
                <key>sourceSize</key>
                <string>{173,151}</string>
            </dict>
            <key>scene_2_bush_7_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,481},{151,98}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,35},{151,98}}</string>
                <key>sourceSize</key>
                <string>{175,152}</string>
            </dict>
            <key>scene_2_bush_7_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,384},{151,105}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,27},{151,105}}</string>
                <key>sourceSize</key>
                <string>{173,151}</string>
            </dict>
            <key>scene_2_bush_7_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,356},{151,109}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,23},{151,109}}</string>
                <key>sourceSize</key>
                <string>{173,151}</string>
            </dict>
            <key>scene_2_bush_8_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,105},{185,109}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,13},{185,109}}</string>
                <key>sourceSize</key>
                <string>{199,135}</string>
            </dict>
            <key>scene_2_bush_8_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,2},{188,107}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,15},{188,107}}</string>
                <key>sourceSize</key>
                <string>{206,135}</string>
            </dict>
            <key>scene_2_bush_8_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,2},{187,101}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,21},{187,101}}</string>
                <key>sourceSize</key>
                <string>{201,135}</string>
            </dict>
            <key>scene_2_bush_8_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,111},{185,97}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,25},{185,97}}</string>
                <key>sourceSize</key>
                <string>{203,135}</string>
            </dict>
            <key>scene_2_bush_8_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,2},{187,101}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,21},{187,101}}</string>
                <key>sourceSize</key>
                <string>{201,135}</string>
            </dict>
            <key>scene_2_bush_8_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,2},{188,107}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,15},{188,107}}</string>
                <key>sourceSize</key>
                <string>{206,135}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene_2_bushes-hd.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:abbf20f04afa5e1e78eb593745b62f7f$</string>
            <key>textureFileName</key>
            <string>scene_2_bushes-hd.png</string>
        </dict>
    </dict>
</plist>
