<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene_3_bush_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1669,2},{352,338}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,21},{352,338}}</string>
                <key>sourceSize</key>
                <string>{400,382}</string>
            </dict>
            <key>scene_3_bush_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,1042},{351,332}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,27},{351,332}}</string>
                <key>sourceSize</key>
                <string>{387,382}</string>
            </dict>
            <key>scene_3_bush_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,1218},{352,326}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,33},{352,326}}</string>
                <key>sourceSize</key>
                <string>{390,382}</string>
            </dict>
            <key>scene_3_bush_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1737,1258},{350,306}}</string>
                <key>offset</key>
                <string>{4,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,53},{350,306}}</string>
                <key>sourceSize</key>
                <string>{398,382}</string>
            </dict>
            <key>scene_3_bush_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,1218},{352,326}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,33},{352,326}}</string>
                <key>sourceSize</key>
                <string>{390,382}</string>
            </dict>
            <key>scene_3_bush_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,1042},{351,332}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,27},{351,332}}</string>
                <key>sourceSize</key>
                <string>{387,382}</string>
            </dict>
            <key>scene_3_bush_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1623,342},{403,222}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,32},{403,222}}</string>
                <key>sourceSize</key>
                <string>{437,288}</string>
            </dict>
            <key>scene_3_bush_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1347,868},{402,214}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,40},{402,214}}</string>
                <key>sourceSize</key>
                <string>{434,288}</string>
            </dict>
            <key>scene_3_bush_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,1012},{402,204}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,50},{402,204}}</string>
                <key>sourceSize</key>
                <string>{428,288}</string>
            </dict>
            <key>scene_3_bush_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,812},{403,198}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,56},{403,198}}</string>
                <key>sourceSize</key>
                <string>{435,288}</string>
            </dict>
            <key>scene_3_bush_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,1012},{402,204}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,50},{402,204}}</string>
                <key>sourceSize</key>
                <string>{428,288}</string>
            </dict>
            <key>scene_3_bush_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1347,868},{402,214}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,40},{402,214}}</string>
                <key>sourceSize</key>
                <string>{434,288}</string>
            </dict>
            <key>scene_3_bush_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1751,868},{388,284}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,17},{388,284}}</string>
                <key>sourceSize</key>
                <string>{440,324}</string>
            </dict>
            <key>scene_3_bush_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1346,1084},{389,278}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,23},{389,278}}</string>
                <key>sourceSize</key>
                <string>{441,324}</string>
            </dict>
            <key>scene_3_bush_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1610},{389,270}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,31},{389,270}}</string>
                <key>sourceSize</key>
                <string>{435,324}</string>
            </dict>
            <key>scene_3_bush_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1218},{389,262}}</string>
                <key>offset</key>
                <string>{6,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,39},{389,262}}</string>
                <key>sourceSize</key>
                <string>{427,324}</string>
            </dict>
            <key>scene_3_bush_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1610},{389,270}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,31},{389,270}}</string>
                <key>sourceSize</key>
                <string>{435,324}</string>
            </dict>
            <key>scene_3_bush_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1346,1084},{389,278}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,23},{389,278}}</string>
                <key>sourceSize</key>
                <string>{441,324}</string>
            </dict>
            <key>scene_3_bush_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,444},{507,284}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,19},{507,284}}</string>
                <key>sourceSize</key>
                <string>{549,324}</string>
            </dict>
            <key>scene_3_bush_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{508,278}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,25},{508,278}}</string>
                <key>sourceSize</key>
                <string>{552,324}</string>
            </dict>
            <key>scene_3_bush_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,514},{507,272}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,31},{507,272}}</string>
                <key>sourceSize</key>
                <string>{543,324}</string>
            </dict>
            <key>scene_3_bush_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1113,230},{508,264}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,39},{508,264}}</string>
                <key>sourceSize</key>
                <string>{552,324}</string>
            </dict>
            <key>scene_3_bush_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,514},{507,272}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,31},{507,272}}</string>
                <key>sourceSize</key>
                <string>{543,324}</string>
            </dict>
            <key>scene_3_bush_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{508,278}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,25},{508,278}}</string>
                <key>sourceSize</key>
                <string>{552,324}</string>
            </dict>
            <key>scene_3_bush_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1021,496},{429,314}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,43},{429,314}}</string>
                <key>sourceSize</key>
                <string>{489,396}</string>
            </dict>
            <key>scene_3_bush_5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,730},{429,310}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,47},{429,310}}</string>
                <key>sourceSize</key>
                <string>{483,396}</string>
            </dict>
            <key>scene_3_bush_5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,788},{429,306}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,51},{429,306}}</string>
                <key>sourceSize</key>
                <string>{485,396}</string>
            </dict>
            <key>scene_3_bush_5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1452,566},{427,300}}</string>
                <key>offset</key>
                <string>{5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,57},{427,300}}</string>
                <key>sourceSize</key>
                <string>{477,396}</string>
            </dict>
            <key>scene_3_bush_5_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,788},{429,306}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,51},{429,306}}</string>
                <key>sourceSize</key>
                <string>{485,396}</string>
            </dict>
            <key>scene_3_bush_5_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,730},{429,310}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,47},{429,310}}</string>
                <key>sourceSize</key>
                <string>{483,396}</string>
            </dict>
            <key>scene_3_bush_6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{554,230}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,29},{554,230}}</string>
                <key>sourceSize</key>
                <string>{606,288}</string>
            </dict>
            <key>scene_3_bush_6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1114,2},{553,226}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,33},{553,226}}</string>
                <key>sourceSize</key>
                <string>{603,288}</string>
            </dict>
            <key>scene_3_bush_6_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,220},{553,222}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,37},{553,222}}</string>
                <key>sourceSize</key>
                <string>{597,288}</string>
            </dict>
            <key>scene_3_bush_6_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,2},{554,216}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,43},{554,216}}</string>
                <key>sourceSize</key>
                <string>{602,288}</string>
            </dict>
            <key>scene_3_bush_6_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,220},{553,222}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,37},{553,222}}</string>
                <key>sourceSize</key>
                <string>{597,288}</string>
            </dict>
            <key>scene_3_bush_6_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1114,2},{553,226}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,33},{553,226}}</string>
                <key>sourceSize</key>
                <string>{603,288}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene_3_bushes-ipadhd.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d131d02e5c599941e7cab8629ebfb6b$</string>
            <key>textureFileName</key>
            <string>scene_3_bushes-ipadhd.png</string>
        </dict>
    </dict>
</plist>
