<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene_2_bush_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1661,2},{370,302}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,29},{370,302}}</string>
                <key>sourceSize</key>
                <string>{434,360}</string>
            </dict>
            <key>scene_2_bush_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{370,300}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,31},{370,300}}</string>
                <key>sourceSize</key>
                <string>{454,360}</string>
            </dict>
            <key>scene_2_bush_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,426},{369,292}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,39},{369,292}}</string>
                <key>sourceSize</key>
                <string>{475,360}</string>
            </dict>
            <key>scene_2_bush_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1591,512},{368,286}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,45},{368,286}}</string>
                <key>sourceSize</key>
                <string>{460,360}</string>
            </dict>
            <key>scene_2_bush_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,426},{369,292}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,39},{369,292}}</string>
                <key>sourceSize</key>
                <string>{475,360}</string>
            </dict>
            <key>scene_2_bush_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{370,300}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,31},{370,300}}</string>
                <key>sourceSize</key>
                <string>{454,360}</string>
            </dict>
            <key>scene_2_bush_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1776,800},{188,200}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,26},{188,200}}</string>
                <key>sourceSize</key>
                <string>{258,252}</string>
            </dict>
            <key>scene_2_bush_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1216,902},{187,198}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,28},{187,198}}</string>
                <key>sourceSize</key>
                <string>{273,252}</string>
            </dict>
            <key>scene_2_bush_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1188},{187,192}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,34},{187,192}}</string>
                <key>sourceSize</key>
                <string>{277,252}</string>
            </dict>
            <key>scene_2_bush_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1416,976},{186,182}}</string>
                <key>offset</key>
                <string>{-3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,44},{186,182}}</string>
                <key>sourceSize</key>
                <string>{270,252}</string>
            </dict>
            <key>scene_2_bush_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1188},{187,192}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,34},{187,192}}</string>
                <key>sourceSize</key>
                <string>{277,252}</string>
            </dict>
            <key>scene_2_bush_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1216,902},{187,198}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,28},{187,198}}</string>
                <key>sourceSize</key>
                <string>{273,252}</string>
            </dict>
            <key>scene_2_bush_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,1078},{195,180}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,19},{195,180}}</string>
                <key>sourceSize</key>
                <string>{245,216}</string>
            </dict>
            <key>scene_2_bush_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,1120},{195,176}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,23},{195,176}}</string>
                <key>sourceSize</key>
                <string>{251,216}</string>
            </dict>
            <key>scene_2_bush_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,440},{195,172}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,27},{195,172}}</string>
                <key>sourceSize</key>
                <string>{245,216}</string>
            </dict>
            <key>scene_2_bush_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,916},{196,168}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,31},{196,168}}</string>
                <key>sourceSize</key>
                <string>{238,216}</string>
            </dict>
            <key>scene_2_bush_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,440},{195,172}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,27},{195,172}}</string>
                <key>sourceSize</key>
                <string>{245,216}</string>
            </dict>
            <key>scene_2_bush_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,1120},{195,176}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,23},{195,176}}</string>
                <key>sourceSize</key>
                <string>{251,216}</string>
            </dict>
            <key>scene_2_bush_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1216,720},{279,180}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{279,180}}</string>
                <key>sourceSize</key>
                <string>{313,216}</string>
            </dict>
            <key>scene_2_bush_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,898},{278,178}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,20},{278,178}}</string>
                <key>sourceSize</key>
                <string>{328,216}</string>
            </dict>
            <key>scene_2_bush_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1497,800},{277,174}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,24},{277,174}}</string>
                <key>sourceSize</key>
                <string>{337,216}</string>
            </dict>
            <key>scene_2_bush_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,637},{277,168}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,30},{277,168}}</string>
                <key>sourceSize</key>
                <string>{321,216}</string>
            </dict>
            <key>scene_2_bush_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1497,800},{277,174}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,24},{277,174}}</string>
                <key>sourceSize</key>
                <string>{337,216}</string>
            </dict>
            <key>scene_2_bush_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,898},{278,178}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,20},{278,178}}</string>
                <key>sourceSize</key>
                <string>{328,216}</string>
            </dict>
            <key>scene_2_bush_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,440},{333,244}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,21},{333,244}}</string>
                <key>sourceSize</key>
                <string>{385,288}</string>
            </dict>
            <key>scene_2_bush_5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,418},{335,240}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,25},{335,240}}</string>
                <key>sourceSize</key>
                <string>{395,288}</string>
            </dict>
            <key>scene_2_bush_5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,532},{334,234}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,31},{334,234}}</string>
                <key>sourceSize</key>
                <string>{384,288}</string>
            </dict>
            <key>scene_2_bush_5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,660},{333,228}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,37},{333,228}}</string>
                <key>sourceSize</key>
                <string>{387,288}</string>
            </dict>
            <key>scene_2_bush_5_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,532},{334,234}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,31},{334,234}}</string>
                <key>sourceSize</key>
                <string>{384,288}</string>
            </dict>
            <key>scene_2_bush_5_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,418},{335,240}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,25},{335,240}}</string>
                <key>sourceSize</key>
                <string>{395,288}</string>
            </dict>
            <key>scene_2_bush_6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{413,226}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,48},{413,226}}</string>
                <key>sourceSize</key>
                <string>{469,324}</string>
            </dict>
            <key>scene_2_bush_6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,2},{413,220}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,54},{413,220}}</string>
                <key>sourceSize</key>
                <string>{489,324}</string>
            </dict>
            <key>scene_2_bush_6_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,2},{413,214}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,60},{413,214}}</string>
                <key>sourceSize</key>
                <string>{489,324}</string>
            </dict>
            <key>scene_2_bush_6_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1247,2},{412,206}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,68},{412,206}}</string>
                <key>sourceSize</key>
                <string>{472,324}</string>
            </dict>
            <key>scene_2_bush_6_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,2},{413,214}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,60},{413,214}}</string>
                <key>sourceSize</key>
                <string>{489,324}</string>
            </dict>
            <key>scene_2_bush_6_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,2},{413,220}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,54},{413,220}}</string>
                <key>sourceSize</key>
                <string>{489,324}</string>
            </dict>
            <key>scene_2_bush_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,890},{308,228}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,48},{308,228}}</string>
                <key>sourceSize</key>
                <string>{378,324}</string>
            </dict>
            <key>scene_2_bush_7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,768},{309,220}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,56},{309,220}}</string>
                <key>sourceSize</key>
                <string>{371,324}</string>
            </dict>
            <key>scene_2_bush_7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,686},{309,210}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,66},{309,210}}</string>
                <key>sourceSize</key>
                <string>{371,324}</string>
            </dict>
            <key>scene_2_bush_7_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,990},{308,196}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,80},{308,196}}</string>
                <key>sourceSize</key>
                <string>{374,324}</string>
            </dict>
            <key>scene_2_bush_7_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,686},{309,210}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,66},{309,210}}</string>
                <key>sourceSize</key>
                <string>{371,324}</string>
            </dict>
            <key>scene_2_bush_7_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,768},{309,220}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,56},{309,220}}</string>
                <key>sourceSize</key>
                <string>{371,324}</string>
            </dict>
            <key>scene_2_bush_8_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,218},{386,220}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,34},{386,220}}</string>
                <key>sourceSize</key>
                <string>{426,288}</string>
            </dict>
            <key>scene_2_bush_8_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1247,210},{387,214}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,40},{387,214}}</string>
                <key>sourceSize</key>
                <string>{441,288}</string>
            </dict>
            <key>scene_2_bush_8_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1636,306},{387,204}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,50},{387,204}}</string>
                <key>sourceSize</key>
                <string>{431,288}</string>
            </dict>
            <key>scene_2_bush_8_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,224},{386,192}}</string>
                <key>offset</key>
                <string>{6,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,62},{386,192}}</string>
                <key>sourceSize</key>
                <string>{434,288}</string>
            </dict>
            <key>scene_2_bush_8_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1636,306},{387,204}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,50},{387,204}}</string>
                <key>sourceSize</key>
                <string>{431,288}</string>
            </dict>
            <key>scene_2_bush_8_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1247,210},{387,214}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,40},{387,214}}</string>
                <key>sourceSize</key>
                <string>{441,288}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene_2_bushes-ipadhd.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cfd34953209b36ca864cb12186e7488e$</string>
            <key>textureFileName</key>
            <string>scene_2_bushes-ipadhd.png</string>
        </dict>
    </dict>
</plist>
