<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene_3_bush_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,764},{170,164}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,6},{170,164}}</string>
                <key>sourceSize</key>
                <string>{186,178}</string>
            </dict>
            <key>scene_3_bush_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,764},{171,161}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{171,161}}</string>
                <key>sourceSize</key>
                <string>{181,179}</string>
            </dict>
            <key>scene_3_bush_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,550},{170,158}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{170,158}}</string>
                <key>sourceSize</key>
                <string>{182,178}</string>
            </dict>
            <key>scene_3_bush_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,599},{170,149}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,22},{170,149}}</string>
                <key>sourceSize</key>
                <string>{186,179}</string>
            </dict>
            <key>scene_3_bush_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,550},{170,158}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{170,158}}</string>
                <key>sourceSize</key>
                <string>{182,178}</string>
            </dict>
            <key>scene_3_bush_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,461},{170,160}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{170,160}}</string>
                <key>sourceSize</key>
                <string>{180,178}</string>
            </dict>
            <key>scene_3_bush_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,406},{192,111}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,11},{192,111}}</string>
                <key>sourceSize</key>
                <string>{204,135}</string>
            </dict>
            <key>scene_3_bush_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{193,107}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,15},{193,107}}</string>
                <key>sourceSize</key>
                <string>{203,135}</string>
            </dict>
            <key>scene_3_bush_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,356},{192,101}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,21},{192,101}}</string>
                <key>sourceSize</key>
                <string>{200,135}</string>
            </dict>
            <key>scene_3_bush_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,356},{193,99}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,23},{193,99}}</string>
                <key>sourceSize</key>
                <string>{203,135}</string>
            </dict>
            <key>scene_3_bush_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,356},{192,101}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,21},{192,101}}</string>
                <key>sourceSize</key>
                <string>{200,135}</string>
            </dict>
            <key>scene_3_bush_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{193,107}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,15},{193,107}}</string>
                <key>sourceSize</key>
                <string>{203,135}</string>
            </dict>
            <key>scene_3_bush_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,457},{188,140}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{188,140}}</string>
                <key>sourceSize</key>
                <string>{206,152}</string>
            </dict>
            <key>scene_3_bush_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,519},{188,136}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{188,136}}</string>
                <key>sourceSize</key>
                <string>{206,152}</string>
            </dict>
            <key>scene_3_bush_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,499},{189,132}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{189,132}}</string>
                <key>sourceSize</key>
                <string>{203,152}</string>
            </dict>
            <key>scene_3_bush_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,633},{187,129}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,14},{187,129}}</string>
                <key>sourceSize</key>
                <string>{199,151}</string>
            </dict>
            <key>scene_3_bush_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,499},{189,132}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{189,132}}</string>
                <key>sourceSize</key>
                <string>{203,152}</string>
            </dict>
            <key>scene_3_bush_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,519},{188,136}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{188,136}}</string>
                <key>sourceSize</key>
                <string>{206,152}</string>
            </dict>
            <key>scene_3_bush_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,116},{244,139}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{244,139}}</string>
                <key>sourceSize</key>
                <string>{256,151}</string>
            </dict>
            <key>scene_3_bush_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{244,135}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{244,135}}</string>
                <key>sourceSize</key>
                <string>{258,151}</string>
            </dict>
            <key>scene_3_bush_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,255},{243,133}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,11},{243,133}}</string>
                <key>sourceSize</key>
                <string>{253,151}</string>
            </dict>
            <key>scene_3_bush_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,225},{242,129}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,15},{242,129}}</string>
                <key>sourceSize</key>
                <string>{258,151}</string>
            </dict>
            <key>scene_3_bush_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,255},{243,133}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,11},{243,133}}</string>
                <key>sourceSize</key>
                <string>{253,151}</string>
            </dict>
            <key>scene_3_bush_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{244,135}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{244,135}}</string>
                <key>sourceSize</key>
                <string>{258,151}</string>
            </dict>
            <key>scene_3_bush_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,155},{206,153}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,17},{206,153}}</string>
                <key>sourceSize</key>
                <string>{228,185}</string>
            </dict>
            <key>scene_3_bush_5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,2},{207,151}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,19},{207,151}}</string>
                <key>sourceSize</key>
                <string>{225,185}</string>
            </dict>
            <key>scene_3_bush_5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,310},{206,149}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,21},{206,149}}</string>
                <key>sourceSize</key>
                <string>{226,185}</string>
            </dict>
            <key>scene_3_bush_5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,257},{206,147}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,23},{206,147}}</string>
                <key>sourceSize</key>
                <string>{222,185}</string>
            </dict>
            <key>scene_3_bush_5_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,310},{206,149}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,21},{206,149}}</string>
                <key>sourceSize</key>
                <string>{226,185}</string>
            </dict>
            <key>scene_3_bush_5_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,2},{207,151}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,19},{207,151}}</string>
                <key>sourceSize</key>
                <string>{225,185}</string>
            </dict>
            <key>scene_3_bush_6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{265,114}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{265,114}}</string>
                <key>sourceSize</key>
                <string>{283,134}</string>
            </dict>
            <key>scene_3_bush_6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,2},{265,112}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{265,112}}</string>
                <key>sourceSize</key>
                <string>{281,134}</string>
            </dict>
            <key>scene_3_bush_6_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,2},{265,111}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,14},{265,111}}</string>
                <key>sourceSize</key>
                <string>{279,135}</string>
            </dict>
            <key>scene_3_bush_6_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,115},{265,108}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,16},{265,108}}</string>
                <key>sourceSize</key>
                <string>{281,134}</string>
            </dict>
            <key>scene_3_bush_6_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,2},{265,111}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,14},{265,111}}</string>
                <key>sourceSize</key>
                <string>{279,135}</string>
            </dict>
            <key>scene_3_bush_6_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,2},{265,112}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{265,112}}</string>
                <key>sourceSize</key>
                <string>{281,134}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene_3_bushes-hd.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0bfab210a943f652902cdaf8cd6aede4$</string>
            <key>textureFileName</key>
            <string>scene_3_bushes-hd.png</string>
        </dict>
    </dict>
</plist>
