<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene_1_bush_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{408,229}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,38},{408,229}}</string>
                <key>sourceSize</key>
                <string>{470,291}</string>
            </dict>
            <key>scene_1_bush_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{409,223}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,44},{409,223}}</string>
                <key>sourceSize</key>
                <string>{461,291}</string>
            </dict>
            <key>scene_1_bush_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,413},{408,219}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,48},{408,219}}</string>
                <key>sourceSize</key>
                <string>{476,291}</string>
            </dict>
            <key>scene_1_bush_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,300},{408,215}}</string>
                <key>offset</key>
                <string>{-2,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,52},{408,215}}</string>
                <key>sourceSize</key>
                <string>{490,291}</string>
            </dict>
            <key>scene_1_bush_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,413},{408,219}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,48},{408,219}}</string>
                <key>sourceSize</key>
                <string>{476,291}</string>
            </dict>
            <key>scene_1_bush_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{409,223}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,44},{409,223}}</string>
                <key>sourceSize</key>
                <string>{461,291}</string>
            </dict>
            <key>scene_1_bush_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{372,300}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,38},{372,300}}</string>
                <key>sourceSize</key>
                <string>{414,364}</string>
            </dict>
            <key>scene_1_bush_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,634},{373,296}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,42},{373,296}}</string>
                <key>sourceSize</key>
                <string>{425,364}</string>
            </dict>
            <key>scene_1_bush_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,2},{373,296}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,42},{373,296}}</string>
                <key>sourceSize</key>
                <string>{419,364}</string>
            </dict>
            <key>scene_1_bush_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,710},{372,296}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,42},{372,296}}</string>
                <key>sourceSize</key>
                <string>{440,364}</string>
            </dict>
            <key>scene_1_bush_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,2},{373,296}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,42},{373,296}}</string>
                <key>sourceSize</key>
                <string>{419,364}</string>
            </dict>
            <key>scene_1_bush_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,634},{373,296}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,42},{373,296}}</string>
                <key>sourceSize</key>
                <string>{425,364}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene_1_bushes-ipadhd.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:94b0d3aaaf3a5dad73eb928751f0868a$</string>
            <key>textureFileName</key>
            <string>scene_1_bushes-ipadhd.png</string>
        </dict>
    </dict>
</plist>
