<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>cartBtn.png</key>
		<dict>
			<key>frame</key>
			<string>{{765,870},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>cartBtnOn.png</key>
		<dict>
			<key>frame</key>
			<string>{{635,818},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>facebookBtn.png</key>
		<dict>
			<key>frame</key>
			<string>{{915,790},{64,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>facebookBtnOn.png</key>
		<dict>
			<key>frame</key>
			<string>{{915,724},{64,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>giftBtn.png</key>
		<dict>
			<key>frame</key>
			<string>{{489,964},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>giftBtnOn.png</key>
		<dict>
			<key>frame</key>
			<string>{{635,948},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>menuBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{960,720}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{960,720}}</string>
			<key>sourceSize</key>
			<string>{960,720}</string>
		</dict>
		<key>optionBtn.png</key>
		<dict>
			<key>frame</key>
			<string>{{619,1078},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>optionBtnOn.png</key>
		<dict>
			<key>frame</key>
			<string>{{765,1000},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>playBtn.png</key>
		<dict>
			<key>frame</key>
			<string>{{489,818},{144,144}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,144}}</string>
			<key>sourceSize</key>
			<string>{144,144}</string>
		</dict>
		<key>playBtnOn.png</key>
		<dict>
			<key>frame</key>
			<string>{{769,724},{144,144}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,144}}</string>
			<key>sourceSize</key>
			<string>{144,144}</string>
		</dict>
		<key>shareBtn.png</key>
		<dict>
			<key>frame</key>
			<string>{{879,1186},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>shareBtnOn.png</key>
		<dict>
			<key>frame</key>
			<string>{{749,1130},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>slideBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{489,724},{92,278}}</string>
			<key>offset</key>
			<string>{-2,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,9},{92,278}}</string>
			<key>sourceSize</key>
			<string>{96,292}</string>
		</dict>
		<key>soundOffBtnmm.png</key>
		<dict>
			<key>frame</key>
			<string>{{895,1054},{64,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>soundOnBtnmm.png</key>
		<dict>
			<key>frame</key>
			<string>{{895,988},{64,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>speed1Btn.png</key>
		<dict>
			<key>frame</key>
			<string>{{895,922},{64,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>speed2Btn.png</key>
		<dict>
			<key>frame</key>
			<string>{{915,856},{64,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>titles.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,724},{298,485}}</string>
			<key>offset</key>
			<string>{0,-7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,14},{298,485}}</string>
			<key>sourceSize</key>
			<string>{300,499}</string>
		</dict>
		<key>twitterBtn.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1024},{64,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>twitterBtnOn.png</key>
		<dict>
			<key>frame</key>
			<string>{{895,1120},{64,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>mainMenu-hd.png</string>
		<key>size</key>
		<string>{1024,2048}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:2e4d5a5a10ba0842f249da0525e5901b$</string>
		<key>textureFileName</key>
		<string>mainMenu-hd.png</string>
	</dict>
</dict>
</plist>
