<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3Scenebg_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1136,852}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,852}}</string>
                <key>sourceSize</key>
                <string>{1136,852}</string>
            </dict>
            <key>3bush1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,660},{200,192}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{200,192}}</string>
                <key>sourceSize</key>
                <string>{222,212}</string>
            </dict>
            <key>3bush2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1609,2},{226,127}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,16},{226,127}}</string>
                <key>sourceSize</key>
                <string>{242,159}</string>
            </dict>
            <key>3bush3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1609,131},{222,164}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{222,164}}</string>
                <key>sourceSize</key>
                <string>{244,180}</string>
            </dict>
            <key>3bush4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1294,316},{286,163}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,7},{286,163}}</string>
                <key>sourceSize</key>
                <string>{304,179}</string>
            </dict>
            <key>3bush5_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1428,2},{243,179}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,21},{243,179}}</string>
                <key>sourceSize</key>
                <string>{271,219}</string>
            </dict>
            <key>3bush6_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1294,2},{312,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,14},{312,132}}</string>
                <key>sourceSize</key>
                <string>{336,160}</string>
            </dict>
            <key>3downBushes_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,856},{1136,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,176}}</string>
                <key>sourceSize</key>
                <string>{1136,176}</string>
            </dict>
            <key>3downMountains_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,2},{656,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{656,152}}</string>
                <key>sourceSize</key>
                <string>{656,152}</string>
            </dict>
            <key>3greenBushes_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,856},{1136,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,189}}</string>
                <key>sourceSize</key>
                <string>{1136,189}</string>
            </dict>
            <key>3ground_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,856},{1136,353}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,353}}</string>
                <key>sourceSize</key>
                <string>{1136,353}</string>
            </dict>
            <key>3listya_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1459,247},{166,117}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{166,117}}</string>
                <key>sourceSize</key>
                <string>{174,127}</string>
            </dict>
            <key>3mountainandWTF_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,856},{1136,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,119}}</string>
                <key>sourceSize</key>
                <string>{1136,119}</string>
            </dict>
            <key>3trava_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1837,2},{166,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,16},{166,127}}</string>
                <key>sourceSize</key>
                <string>{182,159}</string>
            </dict>
            <key>3trees_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1102,856},{1136,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,64}}</string>
                <key>sourceSize</key>
                <string>{1136,64}</string>
            </dict>
            <key>3woodWTF_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,856},{1136,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,253}}</string>
                <key>sourceSize</key>
                <string>{1136,253}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene_3_pics-five.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:455ab20f1d2bad552f4aef11abb33985$</string>
            <key>textureFileName</key>
            <string>scene_3_pics-five.png</string>
        </dict>
    </dict>
</plist>
