<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1bg5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1136,852}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,852}}</string>
                <key>sourceSize</key>
                <string>{1136,852}</string>
            </dict>
            <key>1blueBush5.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,1478},{232,131}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,19},{232,131}}</string>
                <key>sourceSize</key>
                <string>{260,161}</string>
            </dict>
            <key>1bushes5.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,1038},{1136,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,171}}</string>
                <key>sourceSize</key>
                <string>{1136,171}</string>
            </dict>
            <key>1downWTF5.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,1280},{1025,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1025,196}}</string>
                <key>sourceSize</key>
                <string>{1025,196}</string>
            </dict>
            <key>1downdownWTF5.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,1211},{1136,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,67}}</string>
                <key>sourceSize</key>
                <string>{1136,67}</string>
            </dict>
            <key>1greenBush5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1031,1478},{211,169}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,20},{211,169}}</string>
                <key>sourceSize</key>
                <string>{235,201}</string>
            </dict>
            <key>1ground5.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,856},{1136,376}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,376}}</string>
                <key>sourceSize</key>
                <string>{1136,376}</string>
            </dict>
            <key>1leftWTF5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1925,1280},{432,109}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,6},{432,109}}</string>
                <key>sourceSize</key>
                <string>{446,121}</string>
            </dict>
            <key>1rightWTF5.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,1714},{314,170}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,14},{314,170}}</string>
                <key>sourceSize</key>
                <string>{320,190}</string>
            </dict>
            <key>1trava5.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,856},{1136,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,180}}</string>
                <key>sourceSize</key>
                <string>{1136,180}</string>
            </dict>
            <key>1trees5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,856},{1136,516}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,516}}</string>
                <key>sourceSize</key>
                <string>{1136,516}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene_1_pics-five.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b7a98722b4879c0b39cc1e90e1dcfdb$</string>
            <key>textureFileName</key>
            <string>scene_1_pics-five.png</string>
        </dict>
    </dict>
</plist>
